# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
tests/CMakeFiles/tests.dir/depend.make
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.10.2/CMakeSystem.cmake
build/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.5.1/CMakeCCompiler.cmake
build/CMakeFiles/3.5.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.5.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.5.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.5.1/CMakeSystem.cmake
build/CMakeFiles/3.5.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.5.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/main.dir/build.make
build/CMakeFiles/main.dir/cmake_clean.cmake
build/CMakeFiles/main.dir/CXX.includecache
build/CMakeFiles/main.dir/depend.internal
build/CMakeFiles/main.dir/depend.make
build/CMakeFiles/main.dir/DependInfo.cmake
build/CMakeFiles/main.dir/flags.make
build/CMakeFiles/main.dir/link.txt
build/CMakeFiles/main.dir/progress.make
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/testing.dir/build.make
build/CMakeFiles/testing.dir/cmake_clean.cmake
build/CMakeFiles/testing.dir/CXX.includecache
build/CMakeFiles/testing.dir/depend.internal
build/CMakeFiles/testing.dir/depend.make
build/CMakeFiles/testing.dir/DependInfo.cmake
build/CMakeFiles/testing.dir/flags.make
build/CMakeFiles/testing.dir/link.txt
build/CMakeFiles/testing.dir/progress.make
build/main
build/Makefile
tests/cmake_install.cmake
tests/CMakeCache.txt
tests/CMakeFiles/3.10.2/CMakeCCompiler.cmake
tests/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
tests/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
tests/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
tests/CMakeFiles/3.10.2/CMakeSystem.cmake
tests/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
tests/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
tests/CMakeFiles/3.5.1/CMakeCCompiler.cmake
tests/CMakeFiles/3.5.1/CMakeCXXCompiler.cmake
tests/CMakeFiles/3.5.1/CMakeDetermineCompilerABI_C.bin
tests/CMakeFiles/3.5.1/CMakeDetermineCompilerABI_CXX.bin
tests/CMakeFiles/3.5.1/CMakeSystem.cmake
tests/CMakeFiles/3.5.1/CompilerIdC/CMakeCCompilerId.c
tests/CMakeFiles/3.5.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
tests/CMakeFiles/cmake.check_cache
tests/CMakeFiles/CMakeDirectoryInformation.cmake
tests/CMakeFiles/CMakeError.log
tests/CMakeFiles/CMakeOutput.log
tests/CMakeFiles/feature_tests.bin
tests/CMakeFiles/feature_tests.c
tests/CMakeFiles/feature_tests.cxx
tests/CMakeFiles/Makefile.cmake
tests/CMakeFiles/Makefile2
tests/CMakeFiles/progress.marks
tests/CMakeFiles/run_tests.dir/build.make
tests/CMakeFiles/run_tests.dir/cmake_clean.cmake
tests/CMakeFiles/run_tests.dir/CXX.includecache
tests/CMakeFiles/run_tests.dir/depend.internal
tests/CMakeFiles/run_tests.dir/depend.make
tests/CMakeFiles/run_tests.dir/DependInfo.cmake
tests/CMakeFiles/run_tests.dir/flags.make
tests/CMakeFiles/run_tests.dir/link.txt
tests/CMakeFiles/run_tests.dir/progress.make
tests/CMakeFiles/TargetDirectories.txt
tests/CMakeFiles/tests.dir/build.make
tests/CMakeFiles/tests.dir/cmake_clean.cmake
tests/CMakeFiles/tests.dir/CXX.includecache
tests/CMakeFiles/tests.dir/depend.internal
tests/CMakeFiles/tests.dir/depend.make
tests/CMakeFiles/tests.dir/DependInfo.cmake
tests/CMakeFiles/tests.dir/flags.make
tests/CMakeFiles/tests.dir/link.txt
tests/CMakeFiles/tests.dir/progress.make
tests/Makefile
tests/tests
